/*Comentario*/
/*html{
	background-color: blue; 
}*/
/**{
	background-color: red;
}*/

/*h1,h5{
	color: red;
	color: #B061FF;
	color: rgb(100,200,30);  
}
h2,h4{
	color: blue;
}
p{
	color: red;
}

#ParrafoE{
	color: blue;
}

.imagenRe{
	height: 125px;
	width: 200px: 
}

p i{
color: red;	
}*/